.App {
    text-align: center;
}
.Container {
    width: 25%;
    font-size: 12px;
}
.Description {
    text-align: center;
    margin: 50px;
    font-size: 17px;
}
.Delete-plan {
    margin: 10px;
    width: 10%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}
.Buttons {
    width: 15%;
}
.Semester {
    height: 50%;
    font-size: 12px;
}
.Form {
    margin: 25px;
}
.Move-course {
    width: 15%;
    font-size: 13px;
    margin: 10px;
}

#course-cards {
    width: 25%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    max-width: 100%;
}

#course-row {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
.Course {
    font-size: 12px;
}
.title {
    font-size: 13px;
}

.App-header {
    width: 100%;
    background-color: #ffffff;
    min-height: 27vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(15px + 2vmin);
    color: white;
}
.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#edit-course-info-button {
    justify-content: right;
}

#course-info-collapse {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 1rem;
}

.show-course-pool-button {
    text-align: right;
    margin-right: 5rem;
}

#add-course-button {
    margin-bottom: 1rem;
}

.Container .course-pool-scrollable {
    overflow-y: scroll;
    height: 400px;
}
