.App {
    text-align: center;
}
.Container {
    width: 25%;
    font-size: 12px;
}
.Add-Plan {
    width: 25%;
    font-size: 13px;
    margin: 25px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}
.Buttons {
    width: 25%;
    font-size: 13px;
}

#course-cards {
    width: 20%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    max-width: 100%;
}

#course-row {
    margin: 0;
    /* justify-content: center; */
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    width: 100%;
    background-color: #3e3e3e;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
